<extend name="Index/index" />
<block name="main">

<body> 
<div class="margin Competence_style" id="page_style">
   <!--  <div class="operation clearfix"> -->
   <div class="search  clearfix">
   		<input name="search" type="text" id="search" class="form-control col-xs-8"/><button class="btn button_btn bg-deep-blue " onclick="search()"  type="button"><i class="fa  fa-search"></i>&nbsp;搜索</button>
	</div>
</div>
<div class="compete_list">
       <table id="sample_table" class="table table_list table_striped table-bordered dataTable no-footer">
		 <thead>
			<tr>
			  <th>序号</th>
			  <th>用户</th>
			  <th>内容</th>
              <th>截图</th>
			  <th class="hidden-480">反馈时间</th>          
             </tr>
		    </thead>
             <tbody class="list">

            <foreach name="list" key="k" item="v" > 
				<tr>
					<td>{$v['id']}</td>
					<td>{$v['uid']}</td>
					<td>{$v['des']}</td>
	                <td><img src="__PUBLIC__/FeedbackUpload/{$v['pic']}"></td>
	                <td>{$v['addtime']}</td>
				</tr>
            </foreach>  
		      </tbody>
            	<tr>
            		<td colspan="6" id="page">
	            		{$page}            			
            		</td>
            	</tr>								
	        </table>
     </div>
</div>
</body>
</block>
</html>
<block name="js">
<script>
$(function(){
	$("#Competence_sort").click(function(){
		var option=$(this).find("option:selected").text();
		var value=$(this).val();
		if(value==0){
			  
			$("#sample_table tbody tr").show()
			}
			else{
		$("#sample_table tbody tr").hide().filter(":contains('"+(option)+"')").show();	
			}
		}).click();	
	});

/*******滚动条*******/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});

/****添加分页样式******/
// $('#btn').children().wrap('<ul></ul>').children().unwrap().parent().attr('class','pagination').children().wrap('<li></li>');
$('#page').children().wrap('<ul></ul>').children().unwrap().parent().attr('class','pagination').children().wrap('<li></li>');

function search() {
	var search = $('#search').val();
	$.ajax({
		type:"post",
		url : "{:U('index')}",
		data : {"search": search} ,
		success:function(res){
			tr = '';
			$('#page').html(res.page);
                delete res.page;
			for (var k in res){
                     tr += '<tr><td>'+res[k].id+'</td><td>'+res[k].uid+'</td><td>'+res[k].des+'</td><td><img src="__PUBLIC__/FeedbackUpload/'+res[k].pic+'"></td><td>'+res[k].addtime+'</td><td><a title="查看详情" href="{:U("Order/detail")}?id='+res[k].id+'" class="btn button_btn bg-deep-blue">查看详情</a></td></tr>';
                    
                }  
                $('.list').html(tr);
                $('#page').children().wrap('<ul></ul>').children().unwrap().parent().attr('class','pagination').children().wrap('<li></li>');
		}
	});
}


$('body').delegate('#page a','click',function(){
        var url = $(this).attr('href');
        $.ajax({
            type:'get',
            url:url,
            success:function(res){
                tr = '';
				$('#page').html(res.page);
                delete res.page;
				for (var k in res){
                    tr += '<tr><td>'+res[k].id+'</td><td>'+res[k].uid+'</td><td>'+res[k].des+'</td><td><img src="__PUBLIC__/FeedbackUpload/'+res[k].pic+'"></td><td>'+res[k].addtime+'</td></tr>';
                    
                }  
                $('.list').html(tr);
                $('#page').children().wrap('<ul></ul>').children().unwrap().parent().attr('class','pagination').children().wrap('<li></li>');
            }
        })
        return false;
    })
</script>
</block>
