<extend name="Index/index" />
<block name="header">
  <script src="js/jquery.dataTables.min.js"></script>
  <script src="js/jquery.dataTables.bootstrap.js"></script>
  <script src="js/laydate/laydate.js" type="text/javascript"></script>
</block>
<!--[if lt IE 9]>
<script src="js/html5shiv.js" type="text/javascript"></script>
<script src="js/respond.min.js"></script>
<script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
  <![endif]-->
<title>添加品牌</title>
</head>
<block name="main">
<body>
<div class="margin">
<div class="add_style">
<form method="post" enctype="multipart/form-data">
    <input name="bid" style="display:none" type="hidden" value="{$brand['id']}" />
    <ul>
        <li class="clearfix">
            <label class="label_name col-xs-1"><i>*</i>品牌名称：&nbsp;&nbsp;</label>
            <div class="Add_content col-xs-11">
                <span>{$brand['brandname']}</span>
            </div>
        </li>

        <li style="line-height:105px;vertical-align: middle" class="clearfix">
            <label class="label_name col-xs-1"><i>*</i>品牌logo：&nbsp;&nbsp;</label>
            <div class="Add_content col-xs-11" id="Upload">
                <div class="images_Upload clearfix margin-bottom" id="images_Upload">
                        <img style="height:80px" src="__PUBLIC__/Uploads/{$brand['pic']}" alt="品牌logo">
                </div>
            </div>
        </li>

        <empty name="type">
        <li style="line-height:105px;vertical-align: middle" class="clearfix">
            <label class="label_name col-xs-1">所属分类：&nbsp;&nbsp;</label>
            <div class="Add_content col-xs-11" id="Upload">
                <div class="images_Upload clearfix margin-bottom" id="images_Upload">
                    <label>
                        <div class="col-xs-5">
                            <select name="tid[]" class="form-control">
                                <empty name="data">
                                <option value="">--请选择--</option>
                                <else />
                                <option value="">--请选择--</option>
                                <foreach name="data" item="v">
                                <option {$v['attr']} value="{$v['id']}">{$v['name']}</option>
                                </foreach>
                                </empty>
                            </select>
                        </div>
                    </label>
                </div>
            </div>
        </li>
        <else />
        <foreach name="type" item="val">
        <li style="line-height:105px;vertical-align: middle" class="clearfix">
            <label class="label_name col-xs-1">所属分类：&nbsp;&nbsp;</label>
            <div class="Add_content col-xs-11" id="Upload">
                <div class="images_Upload clearfix margin-bottom" id="images_Upload">
                    <label>
                        <div class="col-xs-5">
                            <select name="tid[]" class="form-control">
                                <option value="">--请选择--</option>
                                <foreach name="data" item="v">
                                <option {$v['attr']} <?=$val==$v['id']?'selected':''?> value="{$v['id']}">{$v['name']}</option>
                                </foreach>
                            </select>
                        </div>
                    </label>
                </div>
            </div>
        </li>
        </foreach>
        </empty>

        <li class="clearfix">
            <label class="label_name col-xs-1">添加分类：&nbsp;&nbsp;</label>
            <div class="Add_content col-xs-11" id="Upload">
                <div class="images_Upload clearfix margin-bottom" style="width:100%" id="images_Upload">
                    <span title="修改" onclick="addType()" style="text-align: center;height:32px;line-height: 32px;background-color: lime" class="add_Upload" id="add_Upload"><i class="fa  fa-plus"></i></span>
                    <!-- <span>温馨提示：没有填写属性名将无法成功添加</span> -->
                </div>
            </div>
        </li>
    </ul>
 <div class="Button_operation btn_width">
    <button class="btn button_btn bg-deep-blue">保存并提交</button>
    <a class="btn button_btn bg-gray" href="{:U('index')}">取消添加</a>
 </div>
</form>
</div>
</div>
</body>
</block>
</html>
<block name="js">
<script>
function addType()
{
    $('ul').children().last().before('<li style="line-height:105px;vertical-align: middle" class="clearfix"><label class="label_name col-xs-1">所属分类：&nbsp;&nbsp;</label><div class="Add_content col-xs-11" id="Upload"><div class="images_Upload clearfix margin-bottom" id="images_Upload"><label><div class="col-xs-5"><select name="tid[]" class="form-control"><empty name="data"><option value="">--请选择--</option><else /><option value="">--请选择--</option><foreach name="data" item="v"><option {$v["attr"]} value="{$v["id"]}">{$v["name"]}</option></foreach></empty></select></div></label></div></div></li>');
}

/*********滚动事件*********/
$("body").niceScroll({  
  cursorcolor:"#888888",  
  cursoropacitymax:1,  
  touchbehavior:false,  
  cursorwidth:"5px",  
  cursorborder:"0",  
  cursorborderradius:"5px"  
});
</script>
</block>