<extend name="Index/index" />
<block name="main">
<body id="menu_style">
<div class="margin" id="page_style">
<div class="operation clearfix">
<span class="submenu"><a href="{:U('add')}"  class="btn button_btn bg-deep-blue" title="添加品牌"><i class="fa  fa-edit"></i>&nbsp;添加品牌</a></span>
<div class="search  clearfix">
    <label class="label_name">品牌搜索：</label>
    <input name="name" onblur="search(this)" type="text"  class="form-control col-xs-6"/><button class="btn button_btn bg-deep-blue " onclick=""  type="button"><i class="fa  fa-search"></i>&nbsp;搜索</button>

</div>
</div>
<!--列表展示-->
<div class="list_Exhibition margin-sx">
 <table class="table table_list table_striped table-bordered" id="sample-table">
  <thead>
  <tr>
   <th width="100">品牌编号</th>
   <th width="100">品牌名称</th>
   <th width="300">品牌logo</th>
   <th width="220">操作</th>
   </tr>   
  </thead>
  <tbody class="list">
  <empty name="data">
   <tr>
      <td colspan="4"><h2>暂无数据</h2></td>
   </tr>
   <else />
   <foreach name="data" item="v">
      <tr>
        <td>{$v['id']}</td>
        <td>{$v['brandname']}</td>
        <td><img style="height:80px" src="__PUBLIC__/Uploads/{$v['pic']}" /></td>
        <td>
          <a href="{:U('addType', ['id' => $v['id']])}" class="btn button_btn btn-Dark-success">修改分类</a>
          <a href="{:U('edit', ['id' => $v['id']])}" class="btn button_btn bg-deep-blue">修改</a>
          <a href="{:U('del', ['id' => $v['id']])}" class="btn button_btn btn-danger">删除</a>
        </td>
      </tr>
   </foreach>
   </empty>
  </tbody>
    <tr>
      <td colspan="6" id="page">
          {$btns}              
      </td>
    </tr>
 </table>
</div>
</div>
</body>
</block>
</html>
<block name="js">
<script>
$('#page').children().wrap('<ul></ul>').children().unwrap().parent().attr('class','pagination').children().wrap('<li></li>');

//设置框架
 $(function() { 
  $("#page_style").frame({
    float : 'left',
    menu_nav:'.operation',
    color_btn:'.skin_select',
  });
});

$('body').delegate('#page a','click',function(){
        var url = $(this).attr('href');
        $.ajax({
            type:'get',
            url:url,
            success:function(res){
                tr = '';
            $('#page').html(res.btns);
            delete res.btns;
            for (var k in res){
                    tr += '<tr><td>'+res[k].id+'</td><td>'+res[k].brandname+'</td><td><img style="height:80px" src="__PUBLIC__/Uploads/'+res[k].pic+'" /></td><td><a href="{:U("addType")}?id='+res[k].id+'" class="btn button_btn btn-Dark-success">修改分类</a><a href="{:U("edit")}?id='+res[k].id+'" class="btn button_btn bg-deep-blue">修改</a><a href="{:U("del")}?id='+res[k].id+'" class="btn button_btn btn-danger">删除</a></td></tr>';
                    
                }  
                $('.list').html(tr);
                $('#page').children().wrap('<ul></ul>').children().unwrap().parent().attr('class','pagination').children().wrap('<li></li>');
            }
        })
        return false;
    })

/*********商品名搜索*********/
function search(obj)
{

    $.ajax({
        url:'{:U("index")}',
        data:{
            name:$(obj).val()
        },
        success:function(res){
            tr = '';
            $('#page').html(res.btns);
            delete res.btns;
            for (var k in res){
                    tr += '<tr><td>'+res[k].id+'</td><td>'+res[k].brandname+'</td><td><img style="height:80px" src="__PUBLIC__/Uploads/'+res[k].pic+'" /></td><td><a href="{:U("addType")}?id='+res[k].id+'" class="btn button_btn btn-Dark-success">修改分类</a><a href="{:U("edit")}?id='+res[k].id+'" class="btn button_btn bg-deep-blue">修改</a><a href="{:U("del")}?id='+res[k].id+'" class="btn button_btn btn-danger">删除</a></td></tr>';
                    
                }  
                $('.list').html(tr);
                $('#page').children().wrap('<ul></ul>').children().unwrap().parent().attr('class','pagination').children().wrap('<li></li>');
        }
    });
}
</script>
</block>